.excerpt {
  max-width: 320px;
  max-height: 130px;
  margin: 0;
  overflow: auto;
  white-space: pre-wrap;
  font: inherit;
}
.scrollable-text {
  max-height: 100px; /* Limita l'altezza massima della cella */
  overflow-y: auto;  /* Fa comparire la barretta di scorrevolezza verticale se il testo è lungo */
  white-space: pre-wrap; /* Mantiene formattazione e spazi originali */
  word-break: break-word;
  padding-right: 5px;    /* Evita che il testo si attacchi alla scrollbar */
}